@function force-rgb($r, $g, $b, $a: 1) {
  @return unquote("rgba(#{$r}, #{$g}, #{$b}, #{$a})");
}

@function force-hsl($h, $s, $l, $a: 1) {
  @return unquote("hsla(#{$h}, #{$s}, #{$l}, #{$a})");
}

@function get-color-var($prop, $fallback, $l: var(unquote("#{$prop}-l"), map-get($fallback, l))) {
  @return force-hsl(var(unquote("#{$prop}-h"), map-get($fallback, h)), var(unquote("#{$prop}-s"), map-get($fallback, s)), $l);
}

$color-primary-set: (h: 50, s: 50%, l: 50%);
$color-primary: get-color-var(--color-primary, $color-primary-set);
$color-primary-dark: get-color-var(--color-primary, $color-primary-set, 25%);
$color-primary-light: get-color-var(--color-primary, $color-primary-set, 70%);
$color-primary-bg: get-color-var(--color-primary, $color-primary-set, 95%);

$font-family: Helvetica, Arial, sans-serif;

body {
  font-family: var(--font-family, $font-family);
  background-color: $color-primary-bg;
  color: black;
  padding: 1em;
  font-size: 120%;
}

h1 {
  color: $color-primary;
}

h2 {
  color: $color-primary-dark;
}

h3 {
  color: get-color-var(--color-primary, $color-primary-set, 0%);
}

p {
  color: $color-primary-light;
}
